MONGO_URI = //your mongo database url
PORT = 5001
STREAM_API_KEY= // STREAM_API_KEY
STREAM_API_SECRET= // STREAM_API_SECRET
JWT_SECRET_KEY= // JWT Secret
NODE_ENV=development
EMAIL_USER= //your email use for making APP password
EMAIL_PASS= // not your gmail password -- it's app password (found in gmail account)